@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.raber-card:hover {
  transform: scale(1.05) !important;
  transition: transform 0.2s ease-in-out !important;
  border: 1px solid rgb(var(--foreground-rgb)) !important;
}
